* {
	margin: 0;
	padding: 0;
}
body {
	background: url('../img/main-bg.jpg');
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
	overflow: hidden;
}

div, 
section,
header,
footer {
	display: block;
	box-sizing: border-box;
}

.content-block {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    display: block;
    height: 100vh;
}

.content-block:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.7;
	z-index: -1;
}

.center-block {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}


.center-block__title {
	font-family: 'Black Han Sans', sans-serif;
	text-align: center;
	font-size: 115px;
}

.center-block__subtitle {
	font-family: 'Stalinist One', cursive;
	text-align: center;
	font-size: 15px;
	text-transform: uppercase;
	margin-top: -5px; 
}

.header {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	padding: 20px 30px;
	font-weight: 500;
	font-style: italic;
	display: inline-block;
	width: 100%;
}

.header-contact {
	float: right;
	text-align: right;
}

.header-time {
	float: left;
	text-align: left;
}

.footer {
	padding: 20px 30px;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	color: #fff;
}

.footer-social {
	float: right;
}

.footer-social__item {
	list-style-type: none;
	display: inline-block;
	margin: 0 20px;
}

.footer-social__item-link {
	color: #fff;
	font-size: 30px;
}

@media only screen and (max-width: 1024px) {
	body {
		background-size: auto;
	}

	.center-block__title {
		font-size: 90px;
	}
}

@media only screen and (max-width: 768px) {
	.center-block__title {
		font-size: 40px;
	}

	.header-time {
		float: none
	}

	.header-contact {
		float: none;
		text-align: left;
	}

}